.login-form-wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 50px 0;
  box-shadow: 1px 1px 10px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h3 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  .login-form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    label {
      font-size: 14px;
      color: #333;
    }
    input {
      border: 1px solid #999;
      outline: none;
      margin-bottom: 20px;
    }
    button {
      padding: 5px 0;
      border: none;
      background-color: #0276eb;
      color: #fff;
      transition: .2s;
    }
    button:hover {
      background-color: #06c;
    }
    button.disabledBtn {
      background-color: #999;
    }
    .btn-go-register{
      font-size: 14px;
      color: #06c;
      }
  }
}
